.venv/
__pycache__/
.ipynb_checkpoints/

datasets/bronze/
datasets/silver/
datasets/gold/

*.pyc
.env
datasets/meter/
datasets/weather/
datasets/eia/
datasets/billing/
datasets/bronze/
datasets/silver/
datasets/gold/