# ============================================================
# ENERGY SMART METER - LIQUIBASE CONFIGURATION TEMPLATE
# ============================================================
#
# No secrets are stored in this file.
#
# CI/CD provides:
#
# CATALOG
# DBX_HOST
# DBX_WAREHOUSE_ID
# DATABRICKS_TOKEN
#
# ============================================================

changelogFile: changelog-master.yml

parameter.energy_catalog: ${CATALOG}

url: jdbc:databricks://${DBX_HOST}:443/default;transportMode=http;ssl=1;httpPath=/sql/1.0/warehouses/${DBX_WAREHOUSE_ID};AuthMech=3;UID=token;PWD=${DATABRICKS_TOKEN};ConnCatalog=${CATALOG};ConnSchema=liquibase

liquibase.hub.mode: off
